<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <div layout:fragment="content" class="container-fluid">
        <div class ="text-center alert m-5" th:classappend="${style=='alert-success'} ? 'alert-success' : 'alert-danger'">
            [[${message}]]
        </div>
        <div class="container mt-2 " style="min-width: 1000px">
            <div class="card">
                <div class="card-header">Students</div>
                <div class="card-body">
                    <form method="get" th:action="@{/user/students}">
                        <label>
                            Search
                            <input class="form-control" type="search" name="keyword" th:value="${keyword}">
                        </label>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th><th>FIRST NAME</th><th>lAST NAME</th><th>EMAIL</th><th>BIRTHDAY</th><th>GENDER</th><th>Good</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="s:${students}">
                            <td th:text="${s.idStudent}"></td>
                            <td th:text="${s.firstname}"></td>
                            <td th:text="${s.lastname}"></td>
                            <td th:text="${s.email}"></td>
                            <td th:text="${s.birthday}"></td>
                            <td th:text="${s.gender}"></td>
                            <td th:text="${s.good}"></td>
                            <td >
                                <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/admin/delete(id=${s.idStudent},keyword=${keyword},page=${currentPage})}">
                                    Delete
                                </a>
                            </td>
                            <td >
                                <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" th:href="@{/admin/updateStudent(id=${s.idStudent},keyword=${keyword},page=${currentPage})}">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}">
                            <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                               th:text="${status.index}"
                               th:href="@{/user/students(page=${status.index},keyword=${keyword})}"
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>