<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar"
>
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-2">
            <form method="get" th:action="@{/students}">
                <input type="search" name="keyword" >
            </form>
            <div class="card">
                <div class="card-header">Students</div>
                <div class="card-body">
                    <h1>21</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>