<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div layout:fragment="content">
    <div class ="text-center alert-success alert m-5"  th:if="${message}" th:classappend="${style}">
        <h2>[[${message}]]</h2>
    </div>
    <div class="container mt-2">
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                   th:text="${status.index}"
                   th:href="@{/user/students(keyword=${keyword},page=${status.index})}"
                ></a>
            </li>
        </ul>
        <form method="get" th:action="@{/user/students}">
            <label>
                Search for students by first name, last name or email :
                <input class="form-control" type="search" name="keyword" th:value="${keyword}">
            </label>
        </form>
        <div class="row">
            <div class="card col-12 col-sm-8 col-md-5 col-lg-4 col-xl-3" th:each="s:${students}">
                <img class="card-img-top" src="https://imgs.search.brave.com/fbEhXShHQOw06HJeOoq39OcUFAi-2LZ0g6dj53_h9L4/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uz/LmV4cGxpY2l0LmJp/bmcubmV0L3RoP2lk/PU9JUC5JeE9MX1F4/VjRsZXp0alZyLUlt/SXpnSGFIYSZwaWQ9/QXBp" alt="Flex Card Image 1">
                <div class="card-body">
                    <h4 class="card-title">Name : [[${s.getFullName()}]] </h4>
                    <h4 class="card-title">Email : [[${s.email}]] </h4>
                    <h4 class="card-title">Gender : [[${s.gender}]] </h4>
                    <h4 class="card-title">Birthday : [[${s.birthday}]] </h4>
                    <p class="card-text" >This is good has a good attitude : [[${s.good}]]</p>
                </div>
                <div class="card-footer">
                    <h6 class="text-muted">ID : [[${s.idStudent}]]</h6>
                </div>
                <div class="card-footer" sec:authorize="hasAuthority('ADMIN')">
                    <form action="#" th:method="delete"
                          th:action="@{'/admin/delete/{id}/{page}/{keyword}'(id=${s.idStudent},page=${currentPage},keyword=${keyword})}">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" style="width: 100%;" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                    <a sec:authorize="hasAuthority('ADMIN')" style="width: 100%;" class="btn btn-success"
                       th:href="@{/admin/updateStudent(id=${s.idStudent},keyword=${keyword},page=${currentPage})}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>